/* ---------- Color Module Styles ----------- */

/* Colors */
:root {
  --color-primary: #f68937;
  --color-accent1: #0079c2;
  --white: #fff;
  --labels-color1: #0079c2;
  --text-color: #484847;
  --text-color-darker: #222;
  --link-color: #484847;
  --link-color-active: #0079c2;
  --placeholder-color: #cccccc;
  --grey-bg: #ebebeb;
  --shadow: 2px 2px 48px 2px #b4b2b240;
}
