/*   */
@media screen and (width >= 320px) {
  /*********** Header ***********/

  /***** Frontpage *************/

  .path-frontpage
    .block-views-blockhomepage-slideshow-block-1
    .view-homepage-slideshow
    .view-header {
    left: 6%;
    max-width: 250px;
    padding: var(--px1);
    background-image: none;
  }

  .path-frontpage
    #block-views-block-homepage-slideshow-block-2
    .view-homepage-slideshow
    .view-content {
    gap: 1.3rem;
  }
}

/*   */
@media screen and (width >= 360px) {
  /****************** Front Page *************/
  .path-frontpage
    .block-views-blockhomepage-slideshow-block-1
    .view-homepage-slideshow
    .view-header {
    left: 7%;
  }

  .path-frontpage
    #block-views-block-homepage-slideshow-block-2
    .view-homepage-slideshow
    .view-content {
    grid-template-columns: 320px;
  }

  .path-frontpage
    .node__content
    .field--name-field-inline-video-and-text
    .paragraph
    .field--name-field-inline-video,
  .path-frontpage
    .node__content
    .field--name-field-inline-video-and-text
    .paragraph
    .field--name-field-inline-texts,
  #block-views-block-meet-the-team-block-1 .view-meet-the-team .view-content,
  .node__content .field--name-field-basic-inline-text-and-imag,
  .node--type-webform .node__content,
  .node--type-services .node__content,
  .node--type-webform #block-custom-barrio-theme-page-title,
  .node--type-page .node__content .field--name-body {
    padding: var(--px1);
  }

  .path-frontpage
    .node__content
    .field--name-body
    .hm_sec_cont
    #hm_sec_services
    #hm_sec_rentals,
  .path-frontpage
    .node__content
    .field--name-body
    .hm_sec_cont
    #hm_sec_services
    #hm_sec_storage,
  .path-frontpage
    .node__content
    .field--name-field-basic-inline-text-and-imag
    .paragraph
    .field--name-field-inline-text {
    padding: 2.5rem 1rem 1.5rem;
  }
}

/*   */
@media screen and (width >= 400px) {
  /****************** Frontpage *****************/
  .path-frontpage
    .block-views-blockhomepage-slideshow-block-1
    .view-homepage-slideshow
    .view-header {
    max-width: 280px;
  }

  .path-frontpage
    #block-views-block-homepage-slideshow-block-2
    .view-homepage-slideshow
    .view-content {
    grid-template-columns: 340px;
  }

  .path-frontpage
    #block-views-block-homepage-slideshow-block-2
    .view-homepage-slideshow
    .view-content
    .views-field-nothing
    #srv_img_cont
    .item-list
    .list-group
    li::before {
    margin: 0 1rem 0 1rem;
  }

  .path-frontpage
    #block-views-block-homepage-slideshow-block-2
    .view-homepage-slideshow
    .view-content
    > div:first-of-type
    .views-field-nothing
    #srv_img_cont
    .item-list
    .list-group
    li:first-of-type
    .summary-content {
    margin: 0 0 0 1rem;
  }
}

/*   */
@media screen and (width >= 480px) {
  /**************** Header *******************/
  .featured-top #block-social-contactbar .field--name-body a {
    font-size: 1rem;
  }

  .featured-top #block-social-contactbar .field--name-body div p:first-of-type {
    line-height: 25px !important;
  }

  /******** Frontpage ******/
  .path-frontpage
    .block-views-blockhomepage-slideshow-block-1
    .view-homepage-slideshow
    .view-header {
    max-width: 300px;
    border-radius: 5px;
  }

  .path-frontpage
    .block-views-blockhomepage-slideshow-block-1
    .view-homepage-slideshow
    .view-header
    h2
    span:first-of-type {
    display: block;
  }

  .path-frontpage
    #block-views-block-homepage-slideshow-block-2
    .view-homepage-slideshow
    .view-content {
    grid-template-columns: 80%;
  }

  .path-frontpage
    .node__content
    .field--name-field-basic-inline-text-and-imag
    .paragraph
    .field--name-field-inline-text
    h2 {
    font-size: 28px;
    margin: 0 0 0.5rem;
  }

  .path-frontpage .node__content .field--name-body .hm_sec_cont h3 {
    font-size: 23px;
  }

  .path-frontpage
    .node__content
    .field--name-field-inline-video-and-text
    .paragraph
    .field--name-field-inline-video
    iframe {
    height: 260px;
    max-width: unset;
    border: 1.3rem solid var(--white);
  }

  .white_btn {
    width: 85% !important;
    margin: 1.5rem 0 0.5rem;
  }

  .path-frontpage
    .node__content
    .field--name-body
    .hm_sec_cont
    #hm_sec_services
    #hm_sec_rentals
    a,
  .path-frontpage
    .node__content
    .field--name-body
    .hm_sec_cont
    #hm_sec_services
    #hm_sec_storage
    a {
    margin: 1.8rem auto 0.6rem;
  }

  /****************** Services ********************/
  .node--type-services .node__content .field--name-body h2 {
    font-size: 30px;
    margin: 2rem 0 1rem;
  }

  /*************** Team ******************/
  #block-views-block-meet-the-team-block-1
    .view-meet-the-team
    .view-header
    #team_header {
    height: 60%;
    padding: 2rem 0.5rem 1rem;
  }
}

/*   */
@media screen and (width >= 540px) {
  /**************** Front Page ****************/
  .path-frontpage
    #block-views-block-homepage-slideshow-block-2
    .view-homepage-slideshow
    .view-content
    .views-field-nothing
    #srv_img_cont
    .item-list
    .list-group
    li {
    font-size: 1.1rem;
  }

  .path-frontpage
    .block-views-blockhomepage-slideshow-block-1
    .view-homepage-slideshow
    .view-header {
    top: 9%;
    max-width: 300px;
  }

  .path-frontpage
    .block-views-blockhomepage-slideshow-block-1
    .view-homepage-slideshow
    .view-header
    h2 {
    margin-bottom: 1rem;
  }

  /****************** About Us *******************/
  .page-node-9
    .node__content
    .field--name-field-basic-inline-text-and-imag
    .field--name-field-inline-image-s-
    .field__item {
    margin: 30px 0 0;
    padding: var(--px1-5);
  }

  /**************** Team Member *****************/
  #block-views-block-meet-the-team-block-1 .view-meet-the-team .view-content {
    padding: var(--px2);
  }

  #block-views-block-meet-the-team-block-1
    .view-meet-the-team
    .view-header
    #team_header {
    height: 60%;
    padding: 2rem 0.5rem 1rem;
  }

  /******************** Webform confirmation ***************/
  .node--type-webform .webform-confirmation .webform-confirmation__message p {
    width: 90%;
  }
}

/*   */
@media screen and (width >= 600px) {
  /**************** Front Page ****************/
  .path-frontpage
    .block-views-blockhomepage-slideshow-block-1
    .view-homepage-slideshow
    .view-header {
    max-width: 350px;
    padding: 1rem 1.1rem 0;
    background-image: url(../images/carousel-content-bg.png);
  }

  .path-frontpage
    .block-views-blockhomepage-slideshow-block-1
    .view-homepage-slideshow
    .view-header
    h2 {
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
  }

  .path-frontpage
    #block-views-block-homepage-slideshow-block-2
    .view-homepage-slideshow
    .view-content {
    grid-template-columns: minmax(70%, 80%);
  }

  .path-frontpage
    .node__content
    .field--name-field-inline-video-and-text
    .paragraph
    .field--name-field-inline-video,
  .path-frontpage
    .node__content
    .field--name-field-inline-video-and-text
    .paragraph
    .field--name-field-inline-texts,
  .node__content .field--name-field-basic-inline-text-and-imag,
  .node--type-services .node__content,
  .node--type-webform .node__content,
  .node--type-webform #block-custom-barrio-theme-page-title,
  .node--type-page .node__content .field--name-body {
    padding: var(--px1-5);
  }

  .path-frontpage
    .node__content
    .field--name-body
    .hm_sec_cont
    #hm_sec_services
    #hm_sec_rentals,
  .path-frontpage
    .node__content
    .field--name-body
    .hm_sec_cont
    #hm_sec_services
    #hm_sec_storage,
  .path-frontpage
    .node__content
    .field--name-field-basic-inline-text-and-imag
    .paragraph
    .field--name-field-inline-text {
    padding: 2.5rem 1.5rem 1.5rem;
  }

  /****************** About Us *******************/
  .page-node-9
    .node__content
    .field--name-field-basic-inline-text-and-imag
    .field--name-field-inline-image-s-
    .field__item,
  .page-node-2
    .node__content
    .field--name-field-basic-inline-text-and-imag
    .field--name-field-inline-image-s-
    .field__item {
    margin: 30px 0 0;
    padding: var(--px);
  }

  .page-node-9
    .node__content
    .field--name-field-basic-inline-text-and-imag
    .field--name-field-inline-image-s-,
  .page-node-2
    .node__content
    .field--name-field-basic-inline-text-and-imag
    .field--name-field-inline-image-s- {
    flex-direction: row;
  }

  /************** Services ******************/

  .node--type-services .node__content .field--name-field-service-images {
    display: flex;
    flex-direction: row;
  }

  .node--type-services
    .node__content
    .field--name-field-service-images
    .field__item {
    padding: var(--px);
  }

  /************************ Team ***************************/
  #block-views-block-meet-the-team-block-1 .view-meet-the-team .view-content {
    padding: var(--px2_5);
  }
}

/*   */
@media screen and (width >= 768px) {
  /***************** Header *****************/

  header
    #navbar-main
    .offcanvas
    .offcanvas-body
    .navbar-nav
    .nav-item
    .nav-link {
    margin: 0 0.3rem;
  }

  header
    #navbar-main
    .offcanvas
    .offcanvas-body
    .navbar-nav
    .nav-item:last-of-type {
    background-color: var(--color-accent1);
    border-radius: 5px;
    padding: 0 0.5rem;
    transition: all 0.2s ease-in-out;
  }

  header
    #navbar-main
    .offcanvas
    .offcanvas-body
    .navbar-nav
    .nav-item:last-of-type:hover {
    background-color: #004990 !important;
    text-decoration: none;
  }

  header
    #navbar-main
    .offcanvas
    .offcanvas-body
    .navbar-nav
    .nav-item:last-of-type
    .nav-link:hover {
    text-decoration: none;
  }

  header
    #navbar-main
    .offcanvas
    .offcanvas-body
    .navbar-nav
    .nav-item:last-of-type
    .nav-link {
    color: var(--white);
  }

  header
    #navbar-main
    .offcanvas
    .offcanvas-body
    .navbar-nav
    .dropdown
    .dropdown-menu
    .dropdown-item:first-of-type {
    display: none;
  }

  header #navbar-main .dropdown:hover > .dropdown-menu {
    display: unset;
  }

  header #navbar-main .dropdown > .dropdown-toggle:active {
    pointer-events: unset;
  }

  /*************************** Featured *****************************/

  .featured-top #block-social-contactbar .field--name-body div {
    flex-direction: row;
    align-items: center;
  }

  .featured-top #block-social-contactbar .field--name-body div p:first-of-type {
    width: 100%;
    align-items: center;
  }

  .featured-top
    #block-social-contactbar
    .field--name-body
    div
    p:first-of-type
    a {
    display: flex;
    width: 35%;
    border-right: 1px solid var(--white);
  }

  .featured-top #block-social-contactbar .field--name-body div p:last-of-type {
    padding-top: 0;
  }

  /**************** Front Page ****************/
  .path-frontpage
    .block-views-blockhomepage-slideshow-block-1
    .view-homepage-slideshow
    .view-header {
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
    left: 22%;
    max-width: 350px;
    max-height: 251px;
    padding: 0.8rem 1.1rem 0;
  }

  .path-frontpage
    .block-views-blockhomepage-slideshow-block-1
    .view-homepage-slideshow
    .view-header
    h2 {
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
  }

  .path-frontpage
    #block-views-block-homepage-slideshow-block-2
    .view-homepage-slideshow
    .view-content {
    grid-template-columns: 80%;
  }

  #block-views-block-homepage-slideshow-block-2
    .view-homepage-slideshow
    .view-content
    .views-field-nothing
    a {
    padding: 12px 0;
  }

  .path-frontpage
    #block-views-block-homepage-slideshow-block-2
    .view-homepage-slideshow
    .view-content {
    grid-template-columns: 1fr 1fr;
  }

  .path-frontpage
    #block-views-block-homepage-slideshow-block-2
    .view-homepage-slideshow
    .view-content
    .views-field-nothing
    #srv_img_cont
    .item-list {
    display: none;
    transition: all 0.2s ease-in-out;
  }

  .path-frontpage
    #block-views-block-homepage-slideshow-block-2
    .view-homepage-slideshow
    .view-content
    .views-field-nothing
    #srv_img_cont:hover
    > .item-list {
    display: block;
  }

  #block-views-block-homepage-slideshow-block-2
    .view-homepage-slideshow
    .view-content
    .views-field-nothing
    a:hover
    .item-list {
    display: block;
  }

  .path-frontpage
    .node__content
    .field--name-body
    .hm_sec_cont
    #hm_sec_services
    #hm_sec_rentals,
  .path-frontpage
    .node__content
    .field--name-body
    .hm_sec_cont
    #hm_sec_services
    #hm_sec_storage,
  .path-frontpage
    .node__content
    .field--name-field-basic-inline-text-and-imag
    .paragraph
    .field--name-field-inline-text {
    padding: 3rem 1.5rem 1.5rem;
  }

  .path-frontpage
    .node__content
    .field--name-field-inline-video-and-text
    .paragraph {
    height: auto;
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 62% 38%;
    grid-template-rows: auto;
    gap: 1rem;
    align-items: center;
  }

  .path-frontpage .node__content .field--name-field-inline-video-and-text {
    padding: 2rem;
  }

  .path-frontpage
    .node__content
    .field--name-field-inline-video-and-text
    .paragraph
    .field--name-field-inline-video,
  .path-frontpage
    .node__content
    .field--name-field-inline-video-and-text
    .paragraph
    .field--name-field-inline-texts {
    padding: 0;
  }

  .path-frontpage
    .node__content
    .field--name-field-inline-video-and-text
    .paragraph
    .field--name-field-inline-video
    iframe,
  .path-frontpage
    .node__content
    .field--name-field-inline-video-and-text
    .paragraph
    .field--name-field-inline-texts {
    height: 280px;
  }

  .path-frontpage
    .node__content
    .field--name-field-inline-video-and-text
    .paragraph
    .field--name-field-inline-texts
    h2 {
    margin: 0px 0 20px;
  }

  .path-frontpage
    .node__content
    .field--name-field-inline-video-and-text
    .paragraph
    .field--name-field-inline-texts
    p {
    line-height: 25px;
  }

  .node__content
    .field--name-field-basic-inline-text-and-imag
    .field--name-field-inline-text
    strong {
    text-align: left;
  }

  .path-frontpage
    .node__content
    .field--name-field-inline-video-and-text
    .paragraph
    .field--name-field-inline-texts
    a.white_btn {
    width: 100% !important;
  }

  .path-frontpage .node__content .field--name-body .hm_sec_cont h2 {
    display: block;
    text-align: center;
    line-height: 35px;
    margin: 1.3rem auto 0;
    font-size: 26px;
    font-family: var(--font-openSans-semiBold);
    max-width: 585px;
  }

  .path-frontpage .node__content .field--name-body .hm_sec_cont h3 {
    line-height: var(--line-height-30);
    padding: 10px 0.5rem 20px;
    font-size: 20px;
  }

  .path-frontpage
    .node__content
    .field--name-body
    .hm_sec_cont
    #hm_sec_services {
    justify-content: center;
    flex-direction: row;
  }

  .path-frontpage
    .node__content
    .field--name-body
    .hm_sec_cont
    #hm_sec_services
    #hm_sec_rentals,
  .path-frontpage
    .node__content
    .field--name-body
    .hm_sec_cont
    #hm_sec_services
    #hm_sec_storage {
    min-height: 461.48px;
  }

  .path-frontpage
    .node__content
    .field--name-body
    .hm_sec_cont
    #hm_sec_services
    #hm_sec_rentals
    h5,
  .path-frontpage
    .node__content
    .field--name-body
    .hm_sec_cont
    #hm_sec_services
    #hm_sec_rentals
    p {
    text-align: right;
  }

  .path-frontpage
    .node__content
    .field--name-body
    .hm_sec_cont
    #hm_sec_services
    #hm_sec_rentals
    a {
    margin: 1.8rem 0 0.6rem;
    float: right;
    clear: both;
  }

  .path-frontpage
    .node__content
    .field--name-body
    .hm_sec_cont
    #hm_sec_services
    #hm_sec_storage
    h5,
  .path-frontpage
    .node__content
    .field--name-body
    .hm_sec_cont
    #hm_sec_services
    #hm_sec_storage
    p {
    text-align: left;
  }

  .path-frontpage
    .node__content
    .field--name-body
    .hm_sec_cont
    #hm_sec_services
    #hm_sec_storage
    a {
    float: left;
  }

  .featured-bottom #block-bottompageinfo .field--name-body {
    height: auto;
    width: 100%;
    margin: 2rem auto;
    max-width: var(--max-width);
    display: grid;
    grid-template-columns: repeat(2, 49%);
    grid-template-rows: auto;
    gap: 1rem;
  }

  .featured-bottom #block-bottompageinfo .field--name-body #btm_blk_img {
    display: block;
    padding: 1.3rem;
  }

  .featured-bottom #block-bottompageinfo .field--name-body #btm_blk_img img {
    height: 100%;
  }

  .featured-bottom #block-bottompageinfo .field--name-body #btm_blk_info {
    padding: 1.3rem 0;
  }

  .featured-bottom #block-bottompageinfo .field--name-body #btm_blk_info h3 {
    max-width: unset;
    width: 100%;
    text-align: left;
  }

  .featured-bottom #block-bottompageinfo .field--name-body #btm_blk_info p {
    text-align: left;
  }

  .featured-bottom #block-bottompageinfo .field--name-body #btm_blk_info > div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    margin-bottom: 35px;
  }

  .featured-bottom #block-bottompageinfo .field--name-body #btm_blk_info span {
    margin-bottom: 0;
    width: 75px;
  }

  .featured-bottom
    #block-bottompageinfo
    .field--name-body
    #btm_blk_info
    #btm_blk_tel
    a {
    display: block;
    text-align: left;
    width: auto;
  }
  .featured-bottom
    #block-bottompageinfo
    .field--name-body
    #btm_blk_info
    #btm_blk_tel
    a:last-of-type {
  }

  .featured-bottom
    #block-bottompageinfo
    .field--name-body
    #btm_blk_info
    > div
    address {
    text-align: left;
  }

  /************** About Us ******************/

  .page-node-9
    .node__content
    .field--name-field-basic-inline-text-and-imag
    .paragraph,
  .page-node-2
    .node__content
    .field--name-field-basic-inline-text-and-imag
    .paragraph {
    height: auto;
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row-reverse;
    gap: 0 1rem;
  }

  .page-node-9
    .node__content
    .field--name-field-basic-inline-text-and-imag
    .field--name-field-inline-image-s-
    .field__item,
  .page-node-2
    .node__content
    .field--name-field-basic-inline-text-and-imag
    .field--name-field-inline-image-s-
    .field__item {
    margin: 30px 0 0;
    padding: var(--px);
  }

  .page-node-9
    .node__content
    .field--name-field-basic-inline-text-and-imag
    .field--name-field-inline-image-s-,
  .page-node-2
    .node__content
    .field--name-field-basic-inline-text-and-imag
    .field--name-field-inline-image-s- {
    flex-direction: column;
  }

  .node__content
    .field--name-field-basic-inline-text-and-imag
    .field--name-field-inline-text {
    margin: 3rem auto 0;
  }

  .node__content
    .field--name-field-basic-inline-text-and-imag
    .field--name-field-inline-text
    h2,
  .node__content
    .field--name-field-basic-inline-text-and-imag
    .field--name-field-inline-text
    h3,
  .node__content
    .field--name-field-basic-inline-text-and-imag
    .field--name-field-inline-text
    p {
    text-align: left;
  }

  /***************** Services **********************/

  .node--type-services .node__content {
    height: auto;
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row-reverse;
    gap: 0 1rem;
  }

  .node--type-services .node__content .field--name-body {
    margin-top: 1.4rem;
  }

  .node--type-services .node__content .field--name-body,
  .node--type-services .node__content .field--name-field-service-images {
    width: 50%;
  }

  .node--type-services .node__content .field--name-field-service-images {
    flex-direction: column;
  }

  .node__content
    .field--name-field-basic-inline-text-and-imag
    .field--name-field-inline-text {
    margin: 3rem auto 0;
  }

  .node--type-services .node__content .field--name-body h2,
  .node--type-services .node__content .field--name-body h3,
  .node--type-services .node__content .field--name-body p,
  .node--type-services .node__content .field--name-body h4 {
    text-align: left;
  }

  /**************************** Team ************************/
  #block-views-block-meet-the-team-block-1
    .view-meet-the-team
    .view-header
    #team_header {
    height: auto;
    padding: 57px 0.5rem 30px;
  }

  #block-views-block-meet-the-team-block-1 .view-meet-the-team .view-content {
    grid-template-columns: 1fr 1fr;
  }

  /************************** Contact Us *******************************/
  .node--type-webform .node__content,
  .node--type-webform #block-custom-barrio-theme-page-title {
    padding: 0;
  }

  .node--type-webform
    .node__content
    .field--name-field-address-and-map
    .paragraph {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0 1rem;
  }

  .node--type-webform
    .node__content
    .field--name-field-address-and-map
    .paragraph
    .field--name-field-address,
  .node--type-webform
    .node__content
    .field--name-field-address-and-map
    .paragraph
    .field--name-field-map {
    width: 50%;
  }

  .node--type-webform
    .node__content
    .field--name-field-address-and-map
    .paragraph
    .field--name-field-map {
    min-height: 413.5px;
  }

  .node--type-webform
    .node__content
    .field--name-field-address-and-map
    .paragraph
    .field--name-field-map
    iframe {
    min-height: 413.5px;
  }

  .node--type-webform .node__content .field--name-webform {
    margin: 2rem auto 1.5rem;
  }

  /******************** Webform confirmation ***************/

  .node--type-webform .webform-confirmation .webform-confirmation__message p {
    width: 80%;
  }

  /************************ Footer *************************/
}
